.ipynb_checkpoints/
.ruff_cache/
.venv/
.DS_Store
*.mypy_cache/

sql/target/
sql/dbt_packages/
sql/logs
sql/.user.yml


.data/*.parquet
data/

*.exe
*.ipynb
*.duckdb
*.json
*.egg-info

.clj-kondo/
.cpcache/
.idea/

target/

.local-env 

.nrepl-port
*.iml