.ipynb_checkpoints/
.ruff_cache/
.venv/
.DS_Store
*.mypy_cache/

__pycache__/


*.exe
*.ipynb
*.duckdb
*.egg-info

.clj-kondo/
.cpcache/
.idea/

target/

.local-env 
.prod-env

.nrepl-port
*.iml
*.crt
*.lsp
*.env