.title {
    font-weight: bold;
    margin-bottom: 0px
}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer {
    text-align: right;
    margin-top: 20px;
}

.footer-link {
    text-decoration: none;
}

.icon {
    margin-right: 5px;
}